body {
	background: url("images/amis_boulangerie.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
h1 {
	font-family: "Quicksand", sans-serif;
	font-size: 65px;
	font-weight: 300;
	color: #fff;
}
h2 {
	font-family: "Quicksand", sans-serif;
	font-size: 35px;
	font-weight: 300;
	color: #fff;
	line-height: 20px;
}
p {
	font-family: "Quattrocento", serif;
	font-size: 20px;
	font-weight: 400;
	color: #fff;
	line-height: 29px;
}
.main-container {
	background-color: rgba(0,0,0,0.5);
	margin-top: 0px;
	margin-right: 360px;
	margin-bottom: 0;
	margin-left: 360px;
	padding: 50px;
}
#logo {
	margin-left: 35px;
	margin-top: 25px;
}