*{ margin:0; padding:0; box-sizing:border-box; }
body {
	background: url("images/stripes.png"), url("images/background.jpg");
	background-repeat: repeat-x, no-repeat;
	background-size: auto, cover;
	font-family: helvetica, arial, sans-serif;
	color: #fff;
}
section {
	margin: 340px 0 0 150px;
}
hr {
	width: 56px;
	height: 3px;
	background-color: #fd6e6e;
	border: 0;
	margin: 20px 0 0 0;
}
p {
	font-size: 22px;
	font-weight: lighter;
	margin:15px 0;
}
